# Simple Linear Regression - sklearn

## 0. Load Libraries

In [1]:
# load libraries
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score


import pandas as pd
import numpy as np

## 1. Load and Verify Dataset

In [2]:
# load dataset and create dataframe
df = pd.read_csv('data/edincome.csv').round(1)

In [3]:
df.head()

   Education  Income
0       10.0    32.1
1       10.4    36.5
2       10.7    23.9
3       11.1    52.3
4       11.4    30.2

## 2. Prepare Data

In [4]:
X = df[['Education']]
y = df['Income']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=5)

## 3. Apply Linear Regression Model

In [6]:
slr = LinearRegression().fit(X_train,y_train)

In [7]:
print(slr.intercept_)
print(slr.coef_)

-25.261756995345337
[5.69317607]

## 4. Evaluate Model

In [8]:
y_pred = slr.predict(X_test)

In [9]:
r2_score(y_test, y_pred)

0.8530010045296671

## 5. Predict New Data

In [10]:
X_new = np.array([[12],[16],[18]])

In [11]:
slr.predict(X_new)

array([43.05635579, 65.82906006, 77.21541219])